
@{
    ViewData["Title"] = "Home Page";
}

<h3>Razor Syntax</h3>
@{ 
    var greeting = "Welcome to ASP.NET MVC Core";
    var weekDay = DateTime.Now.DayOfWeek;
}
@{ var ISBNNo = "978-1-800-56-718-4";}
@{ 
    var pro = new { ProductID = 1, ProductName = "Coffe" };
    <p>ProductID:@pro.ProductID</p>
    <p>ProductName: @pro.ProductName</p>
    <p>@greeting</p>
    <p>@weekDay</p>
    <p>ISBN@(ISBNNo)</p>
}